MT_HOST=192.168.88.1
MT_USER=routebot
MT_PASS=CHANGE_ME_LONG
MT_USE_SSL=true
MT_SSL_VERIFY=false
MT_PORT=8729
MT_WG_GW=wg0
MT_DOMAINS=api.openai.com,chat.openai.com,auth.openai.com,platform.openai.com,chatgpt.com,ios.chat.openai.com
MT_DRY_RUN=true
